.post, #commentArea>div {
    margin-bottom: 1rem;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 0 0.15rem 0.75rem #DDD;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.1, 0.8, 0.3, 0.9);
}


.post:hover > .tag > a {
    color: white;
}

.post>h3,
.post>small {
    flex: 0 0 auto;
    margin-bottom: 0.25rem;
}

.post>div>p {
    color: #666;
    flex: 1 1 auto;
    margin-top: 0.5rem;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1280px;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0;
}

.tags > a  {
    display: block;
    background: mediumseagreen;
    box-shadow: 0 0 0 mediumseagreen;
    color: whitesmoke;
    padding: 4px 1rem;
    border-radius: 1rem;
    margin-right: 4px;
    margin-top: 6px;
    transition: all 0.25s cubic-bezier(0.1, 0.8, 0.3, 0.9);
}

.tags > a:hover {
    background: LIMEGREEN;
    box-shadow: 0 0.15rem 0.5rem mediumseagreen;
    transform: translateY(-0.15rem);
    transition: all 0.25s cubic-bezier(0.1, 0.8, 0.3, 0.9);
}

form > h3 {
    margin-left: 0.5rem;
}

textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

button {
    float: right;
    margin-bottom: 2.5rem;
}